<%= form_for @time_item, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :Заголовок, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Описание, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
     <div class="field">
        <%= f.label :Дата_начала, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :start_date, 'data-behaviour' => 'datepicker' %><br />
        </div>
     </div>  
  </div>


  <div class="control-group">
     <div class="field">
        <%= f.label :Дата_конца, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :end_date, 'data-behaviour' => 'datepicker' %><br />
        </div>
     </div>  
  </div>

  <div class="control-group">
    <%= f.label :Максимальный_порог, :class => 'control-label'%> 
    <div class="controls">
      <%= f.select(:high_threshold, options_for_select([['14 лет', 40],
                                                     ['7 лет', 37],
                                                     ['3 года', 34],
                                                     ['год', 30],
                                                     ['пол года', 26],
                                                     ['3 месяца', 23],
                                                     ['месяц', 19],
                                                     ['неделя',12],
                                                     ['3 дня',9]],@time_item.high_threshold ), {}, {class: "text_field"}) %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label :Важность, :class => 'control-label'%> 
    <div class="controls">
      <%= f.select(:importance, options_for_select([['огромный', 80],
                                                     ['большой', 60],
                                                     ['стандартный', 50],
                                                     ['не большой', 40],
                                                     ['маленький', 30],
                                                     ['крошечный', 20]], @time_item.importance ), {}, {class: "text_field"}) %>
    </div>
  </div>


<div class="control-group">
    <%= f.label :Иконка, :class => 'control-label'%>
   <div class="controls">
    <%= f.hidden_field :image, id:"PickImage" %>
  </div>
</div>


  <script>
    var icons6 = [ "icon-flag", "icon-exchange", "icon-legal","icon-exclamation", "icon-music", "icon-picture", "icon-keyboard",  "icon-android", "icon-anchor", "icon-bitbucket", "icon-search", "icon-heart", "icon-archive", "icon-book", "icon-bell", "icon-bitcoin", "icon-beaker", "icon-apple", "icon-ambulance", "icon-barcode", "icon-bug", "icon-camera", "icon-calendar", "icon-cloud", "icon-check", "icon-cogs", "icon-cog", "icon-coffee", "icon-comment", "icon-cut", "icon-compass", "icon-copy", "icon-facebook", "icon-edit", "icon-gamepad", "icon-gift", "icon-fire", "icon-github", "icon-film", "icon-hospital", "icon-group", "icon-instagram", "icon-linux", "icon-medkit", "icon-money", "icon-list", "icon-microphone", "icon-plane", "icon-plus", "icon-minus", "icon-print", "icon-question", "icon-refresh", "icon-renren", "icon-rss", "icon-road", "icon-save", "icon-share", "icon-sitemap", "icon-skype", "icon-shield", "icon-suitcase", "icon-stethoscope", "icon-phone", "icon-twitter", "icon-umbrella", "icon-trophy", "icon-vk", "icon-windows", "icon-youtube", "icon-trash", "icon-euro", "icon-female", "icon-male", "icon-envelope", "icon-magic"   ],
      example6 = $('#PickImage').fontIconPicker({
      emptyIcon: true,
      source: icons6,
      iconsPerPage: 20
    });
  </script> 


  <% if @timeline %>
    <%= f.hidden_field :timeline_id, value: @timeline.id %>
  <% else %>
    <div class="control-group">
    <%= f.label :timeline_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :timeline_id, :class => 'number_field' %>
    </div>
  </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
