<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<html lang='en'>
<head>
<meta charset="utf-8" />

</head>

  <div id="buttons_1">
    <div class='btn-group'>
      <a data-toggle="modal" href="#Edit_Timeline" class="btn btn-inverse" data-remote='false'><i class="icon-pencil"></i></a>
      <a data-toggle="modal" href="#Add_Point" class="btn btn-inverse" data-remote='false'><i class="icon-flag"></i></a>
      <a data-toggle="modal" href="#Add_Item" class="btn btn-inverse" data-remote='false'><i class="icon-minus"></i></a>
      <a class="btn btn-inverse" href="javaScript:window.print();"><i class="icon-print"></i></a>

    </div>

    <div class='btn-group'>
      <a data-toggle="modal" href="#List_Points" class="btn btn-inverse" data-remote='false'><i class="icon-list"></i></a>
      <a data-toggle="modal" href="#List_Items" class="btn btn-inverse" data-remote='false'><i class="icon-th-list"></i></a>
    </div>

    <div class='btn-group'>
      <a class="btn btn-inverse" href="/"><i class="icon-share-alt "></i></a>  
    </div>
  </div> <!-- buttons_1 -->

<!-- modals open-->
  <div id="Add_Item" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add_Item_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Add_Item_label">Добавление события</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'time_items/form' %>
  </div>
</div>




<div id="Add_Point" class="modal hide fade" tabindex="-2" role="dialog" aria-labelledby="Add_Point_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Add_Point_label">Добавление точки</h3>

  </div>
  <div class="modal-body">
    <%= render :partial => 'time_points/form' %>
  </div>
</div>


 <div id="Edit_Timeline" class="modal hide fade" tabindex="10" role="dialog" aria-labelledby="Edit_Timeline_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Edit_Timeline_label">Редактирование Таймлайна</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'timelines/form' %>
  </div>
</div>

<div id="List_Points" class="modal hide fade" tabindex="-2" role="dialog" aria-labelledby="List_Points_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="List_Points_label">Точки:</h3>

  </div>
  <div class="modal-body">
      <table class="table table-striped">
    <% @timeline.time_points.each do |points| %>
      <tr>
        <td><%= points.title %></td>
        <td>
          <div class="btn-group">
          <%= link_to t('.редакт.', :default => t("helpers.links.редакт.")),
                      edit_time_point_path(points), :class => 'btn btn-small' %>
          <%= link_to t('.удалить', :default => t("helpers.links.удалить")),
                      time_point_path(points),
                      :method => :delete,
                      :data => { :confirm => 'Вы уверены ?' },
                      :class => 'btn btn-small btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>

  </table>
  </div>
</div>



  <div id="List_Items" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="List_Items_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="List_Items_label">Cобытия:</h3>
  </div>
  <div class="modal-body">
      <table class="table table-striped">
    <% @timeline.time_items.each do |items| %>
      <tr>
        <td><%= items.title %></td>
        <td>
          <div class="btn-group">
          <%= link_to t('.редакт.', :default => t("helpers.links.редакт.")),
                      edit_time_item_path(items), :class => 'btn btn-small' %>
          <%= link_to t('.удалить', :default => t("helpers.links.удалить")),
                      time_item_path(items),
                      :method => :delete,
                      :data => { :confirm => 'Вы уверены ?' },
                      :class => 'btn btn-small btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>

  </table>
  </div>
</div>
<!-- modals close -->

<!-- timeglider open -->
<div id='p1'></div>


  <script type='text/javascript'>
  
  $(function () { 
  
    var tg_instance = {};
    


    tg1 = $("#p1").timeline({

        "min_zoom":14, 
        "max_zoom":40, 
        "icon_folder":"http://localhost:3000/icons/",
        "data_source":"http://localhost:3000/timelines/<%=@timeline.id%>.json",
        "show_footer":false,
        "display_zoom_level":true,
        "mousewheel":"zoom", // zoom | pan | none
        "constrain_to_data":false,
        "loaded":function () { 
          // loaded callback function
         }

    })

    
    }); // end document-ready

</script>
<!-- timeglider end-->

</body>
</html>













